/* Smartphone*/
@media screen and (max-device-width : 568px) and (min-device-width: 320px){
	
  


	#wrapper {
  	background-color: #dce2e5; 
  	width: 100%;
  	margin: auto;
  	margin-top: 5%;
  	border-radius: 0.3em;
  	box-shadow: none;

  }

  h3, h2, p {
    	font-size: 4em;
    }

  h2 {
    
    	padding-top: 30px;
    	
  }


  p {
    	font-size: 3em;
    	margin-top: 10%;
    	padding-bottom: 5%; 
  	padding-top: 5%; 
  }

  .centered-text {
  	width: 95%;
  	margin-left: auto;
  	margin-right: auto;
  }

  .icon, .ok {
  	height: 150px;

  }

  .icon {
  	background-color: #aec0c2;
  	border-radius: 2em 0px 0px 2em;

  }

  .ok {
  	border-radius: 0px 2em 2em 0px;
  }

  .input {
    width: 65%;
  	border-radius: 0;
  	height: 125px;	
    font-size: 60px !important;
  }


 

  ::-webkit-input-placeholder {
     font-family: "Helvetica Neue";
      font-size: 60px !important;
     font-weight: 200;
     line-height: 60px;
  }




  .fa-envelope{
      top: 30%;
      left: 25%;
      font-size: 3.7em  !important;
  }

  .fa-user{
      top: 30%;
      left:25%;
      font-size: 4em  !important;
  }

  .fa-angle-right{
      top: 25%;
      left:40%;
      color: #eeeef0;
      font-size: 4em  !important;
  }


  .register {
    -webkit-appearance: none;
    border-radius: 0px;
    display: block;
    margin: auto;
    width: 50%;
    height: 30%;
    background-color: #434b4b;
    border-style: none;
    font-size: 3em;

  }

}
/* Ipad Portrait */



@media screen and (max-device-width : 1024px) and (min-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2){
	
	
	#wrapper {
		width: 80%;
		height: 580px;
		margin-top: 120px;
}

	.input, .icon, .ok {
	height: 70px;

}
.input {
	width: 67%;
	height: 50px;
	background-color: #ffffff;
	border-radius: 0;
  font-size: 35px !important;
}

  ::-webkit-input-placeholder {
     font-weight: 200;
     line-height: 35px !important;
     font-size: 35px !important;
  }



.fa-envelope{
    top:20%;
    left:30%;
    font-size: 2em  !important;
}

.fa-user{
    top:20%;
    left:32%;
    font-size: 2em  !important;
}

.fa-angle-right{
    position:relative;
    top:23%;
    left:40%;
    color: #eeeef0;
    font-size: 1.8em  !important;
}

h3, h2, p {
  	font-size: 1.8em;
  }

h2 {
  
  	padding-top: 60px;
  	
}


p {
  	font-size: 1.6em;
  	margin-top: 2%;
  	padding-bottom: 5%; 
	padding-top: 5%; 
}

::-webkit-input-placeholder {
   font-family: "Helvetica Neue";
   font-size: 2.3em;
   font-weight: 200;
   line-height: 10px;
}

}









