/* Smartphone*/
@media screen and (max-device-width : 568px) and (min-device-width: 320px){
	
	#wrapper {
	background-color: blue; 
	width: 500px;
	margin: auto;
	margin-top: 90px;
	height: 350px;
	border-radius: 0.3em;
	box-shadow: 3px 3px 5px 0.1px #d0d5d8;

}





}
/* Ipad Portrait */



@media screen and (max-device-width : 1024px) and (min-device-width: 768px) and (orientation: portrait;){
	
	
	#wrapper {
		margin-top: 120px;
		background-color: red;

}
}









